<h1>Ton Gossip: <%= @gossip.title %></h1>

<div class='container'>
  <p>  content : <%= @gossip.content %>  </p>
  <p>  author : <%= @gossip.anonymous_gossiper %>  </p>
</div>

<div class='container'>
  <a href="<%= edit_gossip_path(@gossip.id) %>" class= 'btn btn-warning'>Editer</a>
  <a href="<%= gossips_path %>" class= 'btn btn-primary'>Revenir à l index</a>
  <a href="<%= gossip_path(@gossip)%>" class='btn btn-danger' data-confirm='sure' data-method='DELETE'>Supprimer</a>
</div>



<h1>
  <%= link_to 'Ajout commentaire', new_gossip_comment_path(@gossip.id)  %>
</h1>

<h2>Comments</h2>

<% @gossip.comments.each do |l|  %>

<%= l.content %> by <%= l.anonymous_commentor %>
<br>
<% end %>
