<h1>Ton Gossip: <%= @gossip.title %></h1>

<div class='container'>
  <p>  content : <%= @gossip.content %>  </p>
  <p>  author : <%= @gossip.anonymous_gossiper %>  </p>
</div>

<div class='container'>
  <a href="<%= edit_gossip_path(@gossip.id) %>" class= 'btn btn-warning'>Editer</a>
  <a href="<%= gossips_path %>" class= 'btn btn-primary'>Revenir à l index</a>
  <a href="<%= gossip_path(@gossip)%>" class='btn btn-danger' data-confirm='sure' data-method='DELETE'>Supprimer</a>
</div>

<h1>Ajout commentaire</h1>

<%= form_for @comment, url: {action: "create"} do |f| %>
<div class="form-group">
  <label>Ton nom anonyme:</label>
  <%= f.text_field :anonymous_commentor, class: 'form-control', placeholder: 'ton pseudo' %>
</div>
<div class="form-group">
  <label>Contenu du commentaire: </label>
    <%= f.text_field :content, class: 'form-control', placeholder: 'ton commentaire' %>
  </div>
  <div>
      <button type="submit" class="btn btn-primary">Valider</button>
    </div>
 <% end -%>
